body{
    background-image: url("fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: wheat;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}

.website{
    margin-top: 220px;
    animation: fadeUp 2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
}

a{
    
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-weight: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

a:hover{
    background-color: blue;
    color:white ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.view{
    margin-top: 80px;
    margin-bottom: 20px;

}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}